.covid-banner{
    position: relative;
    padding: 4rem 0 0 0;
}
.covid-banner .covid-angle{
    position: absolute;
}
.covid-banner .covid-angle2{
    position: absolute;
    top: 7.5rem;
}
.covid-banner .covid-angle3{
    position: absolute;
    right: 0;
    top: 7.7rem;
}
.covid-banner .covid-angle4{
    position: absolute;
    top: 30rem;
}
.covid-banner .covid-circle{
    position: absolute;
    top: 8.8rem;
    right: 18rem;
}
.covid-banner .covid-circle1{
    position: absolute;
    right: 9.7rem;
    top: 28rem;
}
.covid-banner .covid-rectangle{
    position: absolute;
    right: 0;
    top: 35rem;
}
.covid-banner .covid-rectangle1{
    position: absolute;
    right: 0;
    top: 40.1rem;
}

.covid-banner_container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0;
}
.covid-banner_container .covid-banner_tittle > h1{
    font-size: 70px;
    margin-top: 20px;
}
.covid-banner_container .covid-banner_tittle > h2{
    color: #c65e64;
    font-size: 50px;
}
.covid-banner_container .covid-banner_tittle > p{
    width: 450px;
    padding: 20px 0;
}
.covid-banner_container .covid-banner_tittle > button{
    padding: 20px 60px;
    border: 1px solid #3273dc;
}
.covid-banner_container .covid-banner_tittle > button:hover{
    background-color: #e6ecf7;
    border: none;
}
.covid-banner_image img{
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 5.5rem;
    margin-right: 2rem;
    object-fit: cover;
    /*
    border-radius: 10px;
    clip-path: polygon(7% 7%, 100% 0%, 100% 100%, 0% 100%);*/
}
/*
.covid-banner_image1 img{
    width: 370px;
    height: 338px;
    position: absolute;
    top: 20rem;
    right: 13.5rem;
    object-fit: cover;
    border-radius: 10px;
    clip-path: polygon(7% 7%, 100% 0%, 100% 100%, 0% 100%);
}
*/
.realtime-data-section{
    padding-top: 8.3rem;
}
.realtime-data-section h1{
    font-size: 35px;
}
.realtime-data-flex{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}
.realtime-data-column{
    box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
    padding: 20px;
    width: 300px;
    margin: 0 10px;
    line-height: 1.4;
    text-align: center;
    border-radius: 10px;
}
.realtime-data-card-tittle{
    font-size: 18px;
    padding: 20px 0;
    color: #acaaaa;
    font-weight: 200;
}
.realtime-data-card-count{
    font-size: 30px;
    font-weight: 600;
}
.realtime-data-card-count-off{
    color: #f16969;
}
.realtime-data-card-count-off > span{
    color: #118a11;
}

.covid-countries-flex{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin: 7px;
    margin-bottom: 3rem;
}

.covid-search-card{
    box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
    padding: 35px 0px 0px 0px;
    border-radius: 10px;
    height: 100%;
}
.search-input{
    box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
    width: 300px;
    padding: 15px 10px;
    margin: 0 30px;
    border-radius: 10px;
}
.covid-search-card .search-input{
    display: flex;
}
.search-input input{
    border: none;
    background-color: transparent;
    font-size: 18px;
}
.search-input img{
    width: 20px;
    margin: 0 5px;
}
.covid-countries-content{
    padding-top: 20px;
    height: 420px;
}
/*Track */
.countries-flag-name::-webkit-scrollbar-track {
    background: transparent;
  }
  /* Handle */
  .countries-flag-name::-webkit-scrollbar-thumb {
    background: #356dfb;
  }
  .countries-flag-name::-webkit-scrollbar {
    width: 2px;
  }
  /* Handle on hover */
  .countries-flag-name::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.countries-flag-name{
    width: 100%;
    height: 370px;
    overflow-y: scroll;
}
.covid-countries-content ul{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.covid-countries-name-code{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
    padding: 2px 30px;
}
.covid-countries-content li:hover{
    background: #e6ecf7;
    color: #333;
}
.covid-current-flex-end{
    height: 30px;
    background-color: #f16969;
    padding: 6px 4px;
    margin: 5px 0;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
}
.covid-country-code{
    color: #3273dc;
    font-size: 28px;
    margin-right: 10px;
   display: flex;
}
.covid-country-code img{
    width: 35px;
    position: fixed;
    display: flex;
}
.covid-country-code p{
    font-size: 16px;
    margin: 7px 10px;
    position: sticky;
    color: #333;
}

.covid-map-card{
    width: 100%;
    display: flex;
    box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
    margin: 0px 0px 0px 10px;
    border-radius: 10px;
}
.covid-map-locator img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
}
.covid-map-dense{
    width: 300px;
    padding: 10px 0px 0px 0px;
}
.covid-map-dense div > img{
    padding: 0px 0px 0px 10px;
}
.covid-map-dense h1{
   font-size: 50px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.covid-inner-map{
    font-size: 14px;
    margin: 0 70px;
    color: #acaaaa;
    position: static;
    display: flex;
    flex-direction: column;
}
.covid-19-checkout{
    padding: 1rem 1rem 20px .5rem;
    margin: 0 10px;
    color: #acaaaa;
    font-size: 13px;
    border-bottom: 1px solid #acaaaa;  
}
.covid-19-checkout div{
    margin: 0 10px;
}
.covid-states{
    padding-top: 20px 0;
    width: 100%;
    height: 350px;
    overflow-y: scroll;
}
  /*Track */
  .covid-states::-webkit-scrollbar-track {
    background: transparent;
  }
  /* Handle */
  .covid-states::-webkit-scrollbar-thumb {
    background: #356dfb;
  }
  .covid-states::-webkit-scrollbar {
    width: 2px;
  }
  /* Handle on hover */
  .covid-staes::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.covid-states > p{
    font-size: 12px;
    font-weight: 600;
}
.covid-states-container{
    margin: 20px 0;
}
.covid-states-container img{
    width: 60px;
    height: 35px;
    border-radius: 5px;
    margin-top: 10px;
}
.covid-states-container:hover{
    background-color: #e6ecf7;
    border-right: 3px solid #f34d4d;
}
.covid-states-content span{
    font-size: 14px;
    padding: 0 4px;
}
.covid-confirmed-cases div{
    padding:  0 0 0 4px;
    font-size: 11px;
    display: flex;
}
.covid-confirmed-cases div span{
    font-size: 11px;
    padding: 0 0 0 2px;
    color: #aaaaaa;
}
.covid-confirmed-cases div:last-child{
    color: #77e777;
}
.covid-confirmed-cases div:nth-child(2){
    color: #f34d4d;
}



.covid-symptoms{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 2rem 0 0 0;
}
.covid-symptoms-i{
    font-size: 90px;
}
.covid-angle-ext{
    width: 155px;
    position: absolute;
    top: 50px;
}
.covid-symptom-title{
    font-size: 50px;
}
.covid-symptoms-text{
    width: 550px;
    color: #acaaaa;
}
.covid-symptom-content{
    width: 150px;
    box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 10rem;
    padding: 30px;
    margin: 20px 5px;
}
.covid-symptom-content img{
    width: 60px;
}
.covid-symptom-content p{
    font-size: 12px;
    text-align: center;
    margin: 5px 0;
}
.btn-1{
    border: none;
    background-color: #3273dc;
    color: #fff;
    padding: 12px;
    font-size: 18px;
    border-radius: 5px;
    margin: 20px 0 3rem 0;
    outline: none;
}
.btn-2{
    border: none;
    background-color: #3273dc;
    color: #fff;
    padding: 12px;
    font-size: 18px;
    border-radius: 5px;
    margin: 20px 0 3rem 12.5rem;
    outline: none;
}
.btn-1:hover,
.btn-2:hover{
    background-color: #034ec7;
}
.covid-symptoms-image{
  position: absolute;
  right: 80px;
  top: 150px;
  /*clip-path: polygon(50% 0%, 100% 0, 80% 80%, 0 100%, 0% 75%, 0 0);
  */
}
.covid-symptoms-image img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.covid-contagion{
    padding: 2.5rem 0 2rem 0;
    border-bottom: 1px solid #eee;
}
.covid-contagion:hover{
    background-color: #e6ecf7;
}
.covid-contagion-circle{
    position: absolute;
    margin: 50px 0 0px 50px;
}
.covid-contagion-circle1{
    position: absolute;
    margin-top: 22rem;
    left: 28rem;
}
.covid-contagion-reddot{
    position: absolute;
    margin: 26.5rem 0 0 70px;
}
.covid-contagion-image img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 2;
}
/*
.covid-contagion-text{
    padding: 0 0 0 0rem;
}*/
.covid-contagion-ii{
    font-size: 90px;
}
.covid-contagion-tittle{
    font-size: 50px;
}
.covid-contagion-content{
    width: 500px;
    color: #aaaaaa;
}

.covid-prevention{
    border-bottom: 1px solid #eee;
}
.covid-prevention-circle{
    position: absolute;
    right: 24rem;
}
.covid-prevention-circle1{
    position: absolute;
    right: 20.5rem;
    margin-top: 21rem;
}
.covid-prevention-reddot{
    position: absolute;
    right: 6.5rem;
    margin-top: 28rem;
}

.covid-prevention-text{
    padding-top: 2rem;
}
.covid-prevention-iii{
    font-size: 90px;
}
.covid-prevention-tittle{
    font-size: 50px;
}
.covid-prevention-content{
    width: 550px;
    color: #726e6e;
}
.prevention-inner-image{
    padding-top: 3rem;
    margin-left: 200px;
}
.prevention-inner-image img{
  width: 380px;
  height: 380px;
  object-fit: cover;
  margin-top: 3rem;
  position: relative;
  /*
  clip-path: polygon(50% 0%, 100% 0, 80% 80%, 0 100%, 0% 75%, 0 0);
  border-radius: 10px;*/
}/*
.prevention-inner-image2 img{
  width: 400px;
  height: 350px;
  object-fit: cover;
  clip-path: polygon(50% 0%, 100% 0, 80% 80%, 0 100%, 0% 75%, 0 0);
  border-radius: 10px;
}*/
.prevention-inner-image2{
    margin: 30px 0 0 150px;
}
.covid-prevention-content-img{
    width: 10vw;
    box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 10px;
    margin: 20px 10px;
}
.covid-prevention-content-img img{
    width: 60px;
}
.covid-prevention-content-img p{
    font-size: 12px;
    text-align: center;
    margin: 5px 0;
}

.covid-info-section{
    padding-top: 2rem;
}
.covid-info-tittle{
    text-align: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    padding: 20px 0;
}
.covid-info-card{
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px 8px 0 8px;
}
.covid-info-img > img{
    width: 280px;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.covid-info-text{
    padding: 20px;
}

.footer{
    background: #1e62e7;
    padding: 40px 30px 30px 30px;
    margin-top: 2.5rem;
}
.covid-19-footer_logo span > img{
    width: 80px;
}
.covid-19-footer_logo span > a{
    position: absolute;
    margin: 20px 5px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.footer-tittle{
    font-size: 25px;
    color: #fff;
}
.footer-text{
    color: #fff;
    width: 400px;
}
.footer-number > h1{
    color: #fff;
    font-size: 25px;
}
.footer-number > p{
    width: 500px;
    color: #fff;
}
.footer-bottom{
    border-top: 1px solid #eee;
    background: #1e62e7;
    text-align: center;
    padding: 10px 0;
    color: #fff;
}
.footer-bottom span{
    font-weight: 600;
}

.clear-fix{
    width: 100%;
    height: 100%;
    background: #444;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
    transition: all .4s;
    z-index: 2;
    display: none;
}

.covid-read-more{
    width: 300px;
    position: fixed;
    top: 30px;
    z-index: 2;
    background-color: #fff;
    display: none;
}

.read-more-content{
    padding: 50px 30px;
}
.remove-burger-bar{
    float: right;
    padding: 10px 20px;
    font-size: 20px;
    color: #ddd;
}
.remove-burger-bar:hover{
    color: #333;
}

/*
@keyframes app {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  */
  
