
  /******** 
  this section will contain the :
  1. header
  2. navigation bar
  ************/
  #header{
      width: 100%;
      position: fixed;
      z-index: 2;
  }
  .covid-19_header{
    height: 78px;
    background-image: linear-gradient(180deg, #fff, #f1f2f3);
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); */
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12); */
    box-shadow: inset -4px -4px 6px #ffffff, -4px -4px 7px rgba(0, 0, 0, 0.07);
    position: relative;
    z-index: 100;
  }
  .covid-19_logo span > img{
      margin: 10px 0;
  }
  .covid-19_logo span > a{
      position: absolute;
      top: 20px;
      margin: 0 5px;
      font-size: 25px;
      font-weight: 600;
  }
  .covid-19_navbar{
    display: flex;
    justify-content: space-between;
}
.covid-19_nav-link ul{
    padding: 20px 0;
}
.covid-19_nav-link ul li{
    display: inline-block;
    margin: 0 10px;
    padding: 15px 0;
    color: #acaaaa;
    font-size: 14px;
}
.covid-19_nav-link ul li:hover{
    color: #3273dc;
    border-bottom: 2px solid #3273dc;
}
.clicked{
    border-bottom: 2px solid #3273dc;
}
.covid-19_nav-link ul span{
    border: none;
    background-color: #e6ecf7;
    padding: 15px 20px;
    border-radius: 30px;
    color: #3273dc;
}
.covid-19_nav-link ul span:hover{
    font-weight: 600;
    border: none;
    border-bottom: none;
}
    .burger-menu-open,
     .burger-menu-close{
         display: none;
     }

@media screen and (max-width: 768px){
    /* .covid-map-card{
         margin: 0 200px 200px 0;
     }
     .covid-map-locator img{
         display: none;
     }*/
     .covid-19_nav-link ul{
         display: none;
     }
     .burger-menu-open{
       width: 30px;
       height: 30px;
       position: fixed;
       right: 18px;
       top: 22px;
       z-index: 2;
       display: block;
   }
   .burger-menu-close{
       display: none;
       width: 20px;
       height: 20px;
       position: fixed;
       right: 23px;
       top: 25px;
       z-index: 2;
   }
   .hamburger-menu{
       width: 60%;
       position: fixed;
       top: 76.9px;
       left: 0;
       z-index: 2;
       background-color: #fff;
       padding: 20px 10px;
       display: none;
   }
   .hamburger-menu ul li{
       padding: 10px 0;
   }
   .covid-symptoms-image{
       display: none;
   }
 }
 @media screen and (max-width: 650px){
     .column-block{
         display: block;
     }
     .covid-countries-flex,
     .covid-map-card{
         display: block;
         flex-direction: column;
     }
     .covid-contagion-image{
         display: none;
     }
     .covid-contagion-content{
         
         padding: 0 5px;
     }
     .realtime-data-flex{
        flex-direction: column;
     }
     .covid-banner_image{
         display: none;
     }
     .mg-0{
         margin: 0;
     }
     .banner-heading{
        font-size: 20px;
    }
    .covid-read-more{
        width: 300px;
    }
    .covid-banner_tittle > h1{
        font-size: 60px !important;
    }
}

@media screen and (min-width: 350px){
    .covid-banner_tittle > h1{
        font-size: 50px !important;
    }
}
