@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

html,
body {
  box-sizing: border-box;
  background-color: #f5f5f5;
  /* background-image: linear-gradient(180deg, #fff, #f5f5fa); */
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: auto;
  text-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: #356dfb;
}
html::-webkit-scrollbar {
  width: 4px;
}
/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body {
    background-color: #f5f5f5;
    font-family: "Fira Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
    cursor: pointer;
    position: relative;
  }

  /*

  .scrollable-cases-div {
  width: 100%;
  height: 350px;
  overflow-y: scroll;
}
/* Track 
.scrollable-cases-div::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle 
.scrollable-cases-div::-webkit-scrollbar-thumb {
  background: #356dfb;
}
.scrollable-cases-div::-webkit-scrollbar {
  width: 2px;
}
/* Handle on hover 
.scrollable-cases-div::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  */
